.hero {
  display: grid;
  place-items: center;
  width: 95%;
  height: 90%;
  color: white;
}
.hero__title {
  font-size: 3em;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  color: white;
  text-shadow: 5px 0 0 5px 20px rgba(255, 255, 255, 0.5);
}
.hero p {
  font-size: 0.8em;
  text-align: center;
}
.hero > div {
  align-self: flex-end;
}
.hero > img {
  align-self: flex-start;
  width: 30%;
  height: auto;
}
